@import "./vars.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-app-color);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Noto Sans", sans-serif;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

input {
  font-family: "Noto Sans", sans-serif;
}
