.input {
  position: relative;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(10px * 0.75) calc(10px * 0.5);
    margin: calc(10px * 0.75 + 3px) calc(10px * 0.5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-dark);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    display: block;
    font-size: 16px;
    width: 100%;
    border: 2px solid #fff;
    padding: calc(10px * 1.5) 10px;
    color: #fff;
    background: transparent;
    border-radius: var(--radius-md);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
      }
    }
  }
}
